*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-size: 16px;
   font-family: "Roboto", sans-serif;
   list-style: none;
}

body {
   background-color: #6555DF;

   height: 100vh;
   overflow: hidden;
}

.header {
   display: flex;
   align-items: center;
   justify-content: space-between;

   margin: 2rem 3rem 0 3rem;
}

.header__logo {
   font-size: 1.8rem;
   color: white;
   font-weight: bold;

   text-decoration: none;
}

.header__nav{
   display: flex;
   align-items: center;
}

.header__navlinks {
   color: white;
   font-size: 1rem;
   text-decoration: none;
   margin-left: 55px;

   transition: all .2s ease-in-out;
}

.header__navlinks:hover {
   color: #89D0E2;
   text-decoration: underline;
}

.header__navlinks a:first-child {
   margin-left: 0;
}

.header__btn {
   margin-left: 35px;
}

.header__btn:first-child {
   margin-left: 0;
}

.header--btn1 {
   padding: 10px 0px;
   color: white;
   background-color: #6555DF;
   border: none;

   cursor: pointer;
   transition: all .2s ease-in-out;
}

.header--btn1:hover {
   color: #89D0E2;
}

.header--btn2 {
   width: 9rem;
   padding: 13px 0;
   
   color: white;
   background-color: #89D0E2;
   
   border-radius: 17px;
   font-weight: 400;
   letter-spacing: 1px;

   border: none;
   cursor: pointer;
}

.container {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;

   margin-top: 30px;
   position: relative;

   height: 30vh;
}

.hero {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.hero__tittle {
   font-size: 5rem;
   width: 850px;
   font-weight: bold;

   color: white;
}

.hero__tittle span {
   font-size: 5rem;
   color: #89D0E2;
}

.hero__desc{
   font-size: 1rem;
   color: white;
   width: 450px;

   text-align: center;
}

.image {
   position: absolute;
   z-index: -1;
   bottom: 0;
   height: 60px;
}

.image__img {
   width: 700px;
}